In [225]:
num=[1,2,3,4,5]
outcome=list(map(lambda x:x**2, num))
print(outcome)

[1, 4, 9, 16, 25]

In [227]:
num=[1,2,3,4,5]
outcome=list(filter(lambda x:x%2==0, num))
print(outcome)

[2, 4]

In [229]:
a=int(input("Enter a number:"))
b=int(input("Enter another number:"))
try:
    c=a/b
except ZeroDivisionError:
    print("Dividing by zero")
except:
    print("ZeroDivisionError found on dividing by 0")
else:
    print(c)
finally:
    print("Run over")

Enter a number:10
Enter another number:0
Dividing by zero
Run over

In [234]:
import pandas as pd 
df1=pd.DataFrame({"Employee_ID":[1,2,3,4,5], 
                  "Country":['India','UK','Germany','Italy','India'], 
                  "Manager_ID":[3,4,4,5,3]})
print(set(df1['Country']))

{'Italy', 'India', 'Germany', 'UK'}

In [237]:
import datetime
current_time=datetime.datetime.now()
print("Current Time:",current_time)

Current Time: 2022-09-28 16:38:02.540989

In [ ]:
def details(**kwargs):
    print(kwargs)

details(principal=100.0, rate=5.5,time=10)

In [ ]:
import numpy as np
vec1 = np.arange(0, 12)
vec2 = vec1.reshape(4, 3)
print(vec2)

In [ ]:
import pandas as pd

df['name'] = pd.dataframe("Ve","la","pa","la","ni")
df['age'] = pd.dataframe(10,20,30,40,50)