In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
bookings = pd.read_csv('/Users/vels/Desktop/MyPy/00_Assignment/Datasets/Bookings.csv')
sessions = pd.read_csv('/Users/vels/Desktop/MyPy/00_Assignment/Datasets/Sessions.csv')

In [10]:
### 1. Find the number of distinct bookings, sessions, and searches from the given datasets.

bookings.head()
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        339 non-null    object
 1   booking_id         339 non-null    object
 2   from_city          339 non-null    object
 3   from_country       339 non-null    object
 4   to_city            339 non-null    object
 5   to_country         339 non-null    object
 6   booking_time       339 non-null    object
 7   device_type_used   339 non-null    object
 8   INR_Amount         339 non-null    float64
 9   service_name       339 non-null    object
 10  no_of_passengers   339 non-null    float64
 11  days_to_departure  339 non-null    float64
 12  distance_km        339 non-null    float64
dtypes: float64(4), object(9)
memory usage: 34.6+ KB

In [47]:
ex1 = bookings.drop(['customer_id','booking_id','booking_time','device_type_used','INR_Amount','service_name', \
                    'no_of_passengers', 'days_to_departure','distance_km','from_country'],axis=1)
#    index=['from_city','from_country','to_city','to_country'],

pivot = pd.pivot_table(
    data=ex1,
    index=['from_city','to_city'],
#    columns=['to_city'],
    values='to_country',
    aggfunc='count',
    margins=True,
    margins_name='Total',
    sort=False)
print(pivot.head())

                              to_country
from_city  to_city
Gurgaon    Ahmedabad                   2
Delhi      Brussels                    3
Devanhalli Frankfurt am Main          12
Gurgaon    Frankfurt am Main          16
           Roissy-en-France           12